/* Variables - Start */
:root {
  --Main-Color: black;
  --Second-Color: red;
  --Third-Color: #3a3335;
  --Fourth-Color: wheat;
}
/* Variables - End */
/* Global Rules - Start */
-webkit-box-sizing: border-box;
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  transition: 1.5s;
}
body {
  display: grid;
  align-items: center;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* --------------------------------------------------------------Const - Start */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: white;
  opacity: 1;
}
/* --------------------------------------------------------------Const - End */
/* --------------------------------------------------------------Gloval Rules - End */
/* --------------------------------------------------------------Header - Start */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--Fourth-Color);
  z-index: 1;
}
header img {
  width: 100px;
}
header a {
  color: var(--Third-Color);
}
header a:first-of-type {
  font-size: 25px;
}
header #colors {
  display: flex;
  justify-content: space-around;
  width: 80px;
  height: 15px;
}
header #colors #color1,
header #colors #color2,
header #colors #color3,
header #colors #color4 {
  border-radius: 100%;
  background-color: #8a2be2;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
header #colors #color2 {
  background-color: #01c4ff;
}
header #colors #color3 {
  background-color: #e22b2b;
}
header #colors #color4 {
  background-color: #f5deb3;
}
/* --------------------------------------------------------------Header - End */
/* --------------------------------------------------------------Landing - Start */
.landing {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing video {
  max-width: 80%;
}
.landing img {
  z-index: 1;
  position: absolute;
  transform: translate(0, 0);
  animation-name: hidden;
  animation-duration: 67s;
  filter: invert(3);
}
@keyframes hidden {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  90% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 100%;
    visibility: visible;
  }
}
/* --------------------------------------------------------------Landing - End */
/* --------------------------------------------------------------Top Cont - Start */
.top-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.top-cont input {
  background-image: url("/Template-Cars/images/Search.png");
  background-position: 11px 0px;
  background-repeat: no-repeat;
  background-size: 55px;
  font-size: 16px;
  padding: 14px 0 12px 80px;
  border-radius: 25px;
  border-color: var(--Fourth-Color) var(--Main-Color) var(--Second-Color)
    var(--Third-Color);
  margin-bottom: 12px;
  width: 0;
}
.top-cont input:focus {
  background-position: 99% 0px;
  width: 75%;
  transition: 2s;
}
.top-cont img:hover ~ input,
.top-cont input:hover {
  background-position: 99% 0px;
  width: 75%;
  transition: 2s;
}
/* --------------------------------------------------------------Top Cont - End */
/* --------------------------------------------------------------Bottom Cont - Start */
.bot-cont ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.bot-cont ul li::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--Fourth-Color);
  opacity: 0.2;
}
.bot-cont ul li {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 50px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
}
.bot-cont ul li::after {
  content: "";
  position: absolute;
  right: 15px;
  bottom: 10px;
  border: solid var(--Main-Color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.bot-cont ul li img {
  margin-top: 50px;
  width: 40%;
}
.bot-cont ul li a {
  font-size: 22px;
  color: var(--Main-Color);
  margin-bottom: 50px;
  font-weight: bold;
  font-style: italic;
}
.bot-cont ul .volkswagen img {
  width: 55%;
  margin-top: 45px;
}
.bot-cont ul .mercedes img {
  width: 35%;
  margin-top: 35px;
  margin-bottom: -15px;
}
.bot-cont ul .ford img {
  width: 55%;
  margin-top: 60px;
}
.bot-cont ul .honda img {
  margin-top: 40px;
}
.bot-cont ul .general-motors img {
  margin-top: 35px;
}
.bot-cont ul .bmw img {
  width: 35%;
  margin-top: 45px;
}
.bot-cont ul .hyundai img {
  width: 50%;
}
.bot-cont ul .nissan img {
  margin-top: 45px;
}
.bot-cont ul .tesla img {
  margin-top: 40px;
}
.bot-cont ul li:last-of-type {
  grid-column-end: 3;
}
/* --------------------------------------------------------------Bottom Cont - End */
/* --------------------------------------------------------------About Us - Start */
.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  left: 10%;
  position: relative;
  margin-top: 100px;
  background-color: var(--Fourth-Color);
  border-radius: 10px;
  padding: 20px;
}
.about-us-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  left: 10%;
  position: relative;
  margin-top: 100px;
  background-color: var(--Fourth-Color);
  border-radius: 10px;
  padding: 20px;
}
.about-us img {
  border-radius: 10px;
  width: 500px;
  margin-right: 50px;
}
.about-us-2 img {
  border-radius: 10px;
  width: 500px;
  margin-left: 50px;
}
.about-us .rabus,
.about-us-2 .labus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-us .rabus h1 {
  margin-right: 60px;
}
.about-us-2 .labus h1 {
  margin-left: 20px;
}
.about-us .rabus p {
  text-align: center;
  line-height: 25px;
  margin-right: 60px;
}
.about-us-2 .labus p {
  text-align: center;
  line-height: 25px;
  margin-left: 20px;
}
.about-us .rabus p span,
.about-us-2 .labus p span {
  font-weight: bolder;
}
/* --------------------------------------------------------------About Us - End */
/* --------------------------------------------------------------Pop-up - Start */
.pop-up {
  background-color: var(--Fourth-Color);
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  left: 10%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  z-index: 1;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  animation: show;
  animation-duration: 2s;
  border-radius: 5px;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pop-up i {
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}
.pop-up video {
  position: absolute;
  right: 35px;
  top: 10%;
  max-width: 40%;
  border-radius: 10px;
}
.pop-up .desc {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-items: flex-start;
  margin-left: 20px;
  margin-top: 1%;
  max-width: 95%;
}
.pop-up a {
  position: absolute;
  right: 20px;
  bottom: 15px;
  color: var(--Second-Color);
  font-weight: bold;
  text-decoration: underline;
  font-size: large;
}
.pop-up .desc span {
  font-weight: lighter;
}
.pop-up .desc .links {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
}
/* --------------------------------------------------------------Pop-up - End */
/* --------------------------------------------------------------Footer - Start */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Third-Color);
  margin-top: 100px;
}
footer img {
  width: 200px;
  filter: invert();
  margin-top: 25px;
}
footer p {
  color: white;
  margin-bottom: 50px;
}
footer p:hover {
  content: "";
  color: palevioletred;
}
footer .contacts {
  display: flex;
  gap: 15px;
  margin-bottom: 50px;
  filter: invert();
}
footer .contacts i {
  cursor: pointer;
}
footer .contacts i:hover {
  content: "";
  color: green;
}
